---
import Layout from "◇layouts/Layout.astro";
---

<Layout title="404 — Eriiqì: a Hsizu dictionary">
  <Fragment slot="header">
    <h1>Page not found</h1>
    <p><a href="/w/oikko">oikko!</a></p>
  </Fragment>

  <p>If you typed an address, check it’s correct.</p>

  <p>
    Otherwise, you can <a href="/">browse from the homepage</a> or use the search
    box above to find whatever you want.
  </p>
</Layout>

<style>
  h2 {
    font-size: var(--f3);
    font-weight: 600;
  }
</style>
