---
import Layout from "◇layouts/Layout.astro";
import Stack from "◇components/Stack.astro";
---

<Layout title="Eriiqì: a Hsizu dictionary">
  <Fragment slot="header">
    <h1>Eriiqì</h1>
    <p>a Hsizu dictionary</p>
  </Fragment>

  <p>
    Eriiqì is a web dictionary for the conlang Hsizu. Hsizu is a language
    isolate spoken deep in the Eastern Himalayans by the Alfan inhabitants of
    the area. This dictionary catalogues all known Hsizu words plus etymology,
    pronounciation, and declension.
  </p>

  <p>The word <a href="/w/eriiqì">eriiqì</a> means “dictionary” in Hsizu.</p>
</Layout>
