---
import { getCollection } from "astro:content";
import { groupBy } from "◇lib";
import Layout from "◇layouts/Layout.astro";
import Stack from "◇components/Stack.astro";

let words = await getCollection("words");
let collator = new Intl.Collator("und", {
  collation: "eor",
  sensitivity: "base",
});
words.sort(({ id: a }, { id: b }) =>
  // move suffixes etc. to the end
  b.startsWith("-") ? collator.compare(b, a) : collator.compare(a, b),
);

let index = [
  ...groupBy(words, (word) =>
    word.id[0] === "ụ" ? word.id[0] : word.id.normalize("NFKD")[0],
  ),
];
---

<Layout title="Eriiqì: a Hsizu dictionary">
  <Fragment slot="header">
    <h1>Eriiqì</h1>
    <p>a Hsizu dictionary</p>
  </Fragment>

  <p>
    Eriiqì is a web dictionary for the conlang Hsizu. Hsizu is a language
    isolate spoken deep in the Eastern Himalayans by the Alfan inhabitants of
    the area. This dictionary catalogues all known Hsizu words plus etymology,
    pronounciation, and declension.
  </p>

  <p>The word <a href="/w/eriiqì">eriiqì</a> means “dictionary” in Hsizu.</p>

  <hr />

  <Stack as="nav" gap={4}>
    <b class="nav-header small-caps">Thumb index</b>

    <div class="index-grid">
      {
        index.map(([letter, words]) => (
          <>
            <h2>{letter.toUpperCase()}</h2>
            <ul>
              {words.map((word) => (
                <li>
                  <a href={`/w/${word.id}`}>{word.id}</a>
                </li>
              ))}
            </ul>
          </>
        ))
      }
    </div>
  </Stack>
</Layout>

<style>
  hr {
    border: none;
    border-block-start: 1px dashed var(--c-separator);
  }

  .nav-header {
    font-size: inherit;
    font-weight: 600;
  }

  h2 {
    font-size: var(--f4);
    font-weight: 400;
  }

  ul {
    list-style: none;
  }

  nav {
    container-type: inline-size;
  }

  .index-grid {
    display: grid;
    grid-template-columns: auto auto;
    place-items: baseline start;
    justify-content: start;
    column-gap: var(--s2);
    row-gap: var(--s4);

    & > h2 {
      justify-self: center;
    }

    @container (width < 25ch) {
      grid-template-columns: auto;
      row-gap: var(--s2);

      & > h2 {
        justify-self: unset;
      }

      & > h2:not(:first-child) {
        margin-block-start: var(--s4);
      }
    }
  }
</style>
