---
import Layout from "◇layouts/Layout.astro";
import Stack from "◇components/Stack.astro";
---

<Layout title="Eriiqì: a Hsizu dictionary">
  <Stack gap={6}>
    <Stack as="header" gap={2}>
      <h1>Eriiqì</h1>
      <p>a Hsizu dictionary</p>
    </Stack>
    <Stack as="main" gap={4}>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet inventore
        laboriosam sapiente soluta veritatis. Aliquid beatae consequatur
        delectus dolorum excepturi explicabo magni maxime mollitia nobis quae
        qui rem tempora, ullam.
      </p>
      <p>
        Ab accusantium amet deserunt eaque enim perferendis quia rerum sed ullam
        voluptas. Adipisci, amet culpa dolore error iusto laudantium, libero
        minus odio, possimus quia quibusdam rerum. Eligendi non repellendus
        sunt?
      </p>
      <p>
        Error facilis id illum nobis omnis quae, quidem quos repellat
        repudiandae saepe. Blanditiis, enim nemo omnis perferendis placeat porro
        quia quod reiciendis ut? Autem delectus dignissimos perferendis porro
        recusandae, repellat.
      </p>
      <p>
        Amet consequatur consequuntur deleniti dignissimos dolore dolorem
        dolorum eligendi esse et eum in incidunt iste, itaque maiores molestias
        mollitia natus officiis pariatur placeat possimus quasi suscipit tempora
        temporibus ullam voluptatem?
      </p>
      <p>
        Accusantium, aperiam atque autem cum deleniti distinctio dolor ea enim
        est et ex in, iste iusto magni minima molestiae nobis nostrum omnis
        praesentium quae quibusdam quod repellendus reprehenderit sit
        temporibus!
      </p>
      <p>
        Commodi ducimus earum, ex fuga id impedit iure nemo placeat possimus
        praesentium quisquam, quos recusandae sed tempore veritatis. Aspernatur
        corporis eaque hic ipsa laborum nemo nulla quaerat quod, reiciendis
        repellat.
      </p>
      <p>
        Architecto dolorum est, expedita illum necessitatibus perspiciatis qui
        quia quo veniam. Accusamus, atque, consequatur deleniti eligendi eum
        fuga ipsam iure libero maxime nam nisi perferendis reprehenderit
        tempora. Praesentium, qui, voluptate.
      </p>
      <p>
        Ab amet, eius exercitationem itaque qui vel veritatis? Amet architecto
        commodi consequatur cumque dolores dolorum exercitationem fugit harum id
        ipsum laboriosam, laudantium maxime molestiae, provident quasi, quis
        tempora tempore temporibus.
      </p>
      <p>
        Architecto consectetur ducimus explicabo ipsam ipsum, iste maiores
        maxime minima modi molestiae nam natus necessitatibus non optio porro
        possimus provident quae quos reprehenderit sit, tempore tenetur ullam
        vel voluptate, voluptatem!
      </p>
      <p>
        Accusamus ad esse fuga optio quas quo totam voluptatum. Aliquam corporis
        delectus distinctio doloremque harum laudantium nobis, quam sequi vero.
        Accusamus accusantium assumenda ducimus est numquam quibusdam vitae
        voluptate voluptatem.
      </p>
    </Stack>
  </Stack>
</Layout>
