---
import Layout from "◇layouts/Layout.astro";
import Stack from "◇components/Stack.astro";
---

<Layout title="Eriiqì: a Hsizu dictionary">
  <Fragment slot="header">
    <h1>Eriiqì</h1>
    <p>a Hsizu dictionary</p>
  </Fragment>

  <p>
    Eriiqì is a web dictionary for the conlang Hsizu. Hsizu is a language
    isolate spoken deep in the Eastern Himalayans by the Alfan inhabitants of
    the area. Whilst it is written using the Alfan script, the Latin
    romanisation created by Ayánè Ụhsi is widely used and also used here.
  </p>

  <p>
    This dictionary catalogues all known Hsizu words plus etymology,
    pronounciation, and declension.
  </p>
</Layout>
