---
import Stack from "◇components/Stack.astro";
import "◇styles/global.css";

interface Props {
  title: string;
  mainGap?: 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9;
}

let { title, mainGap = 4 } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href="/fonts/SourceSerif4Variable-Roman.subset.woff2"
      crossorigin="anonymous"
    />
    <title>{title}</title>
  </head>
  <body>
    <Stack gap={6}>
      <Stack as="header" gap={2}>
        <slot name="header" />
      </Stack>
      <Stack as="main" gap={mainGap}>
        <slot />
      </Stack>
    </Stack>
  </body>
</html>
