---
import Stack from "◇components/Stack.astro";
import "◇styles/global.css";

interface Props {
  title: string;
}

let { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href="/fonts/SourceSerif4Variable-Roman.subset.woff2"
      crossorigin="anonymous"
    />
    <title>{title}</title>
  </head>
  <body class="text">
    <slot />
  </body>
</html>
