---
import "@fontsource-variable/source-serif-4/standard.css";
import "◇styles/global.css";

interface Props {
  title: string;
}

let { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="text">
    <slot />
  </body>
</html>
